*{margin:0;padding:0}

body{font-family:arial;font-size:14px;line-height:20px;color:#000;}

.main{
width:960px;
margin: 30px auto;
overflow:hidden;
display:block;

}
.header{}
.header img{width:960px;height:120px;}
.mainmenu{}
.mainmenu ul{margin:0; padding:0;list-style:none; }
.mainmenu ul li{float:left;border:1px solid #ddd}
.mainmenu ul li a{display:block;background:#fff;color:#000;padding:10px;text-decoration:none;}
.mainmenu ul li a:hover{background:#ddd}
.slider{}
.content{overflow:hidden}
.maincontent{width:600px;float:left;margin:20px 0px 0px 20px;}
.content h2{margin-bottom:10px}
.maincontent p{text-align:justify;}
.sidebar{width:300;float:right;margin-top:20px}
.sidebar ul{list-style:none}
.sidebar ul li{padding:5px}
.sidebar ul li a{text-decoration:none;border-bottom:1px solid #ddd;color:#000;}
.sidebar ul li a:hover{background:green;}
.footer{background:#333;margin-top:25px;padding:10px;}
.footer p{color:#fff;text-align:center}